.colorDisplay{
    position: fixed;
    height: 200px;
    width: 200px;
    left: 100px;
    border-style: solid;
    border-color: #857070;
    border-width: 2px;
}


#color1{
    top: 100px;
}

#color2{
    top: 330px;
}

#color3{
    top: 560px;
}

#nextFrame{
    position: fixed;
    height: 240px;
    width: 240px;
    top: 540px;
    left: 80px;
    background-color: gold;
}

